.title
{
    margin-top: 10px;
    margin-left: 20px;
}

table {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.card
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

  
  